<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/brawl.css">
    <link rel="stylesheet" href="css/brawl2.css">
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet'
    type='text/css'>
    @* <style> *@
    @*     @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); *@
    @* </style> *@
    
</head>

<header>
    <div class="popp">
        <div class="wrap">
            <div class="title-text">
                <div class="title2text-text">
                    Tick's Club
                </div>
                <div class="second-title-text">
                    Brawl Stars
                </div>
            </div>
        </div>
        
    </div>
</header>

<body background="lib/images/image.jpg">
    <div class="first-info">
        <div class="first-info-text">Добро пожаловать в Tick’s Club!</div>
    </div>
<div class="second-info">
        
    <div class="second-info-text"><p>Мы дружелюбный клуб, который активно проходит<br> клубную Лигу. <br>
        Рады новым игрокам, которые готовы вместе с нами покорить мастера в Лиге клубов. 🏆️</p> </div>
</div>
<a href="https://discord.gg/sAFAxGtaA2" class="link">
<div class="third-info" >
        
    <div class="third-info-text" >Вступить в  Discord</div>
        
</div>
</a>

    <div class="fourth-info">
        <img src="lib/images/image7.png" alt="" class="fourth-image1">
        <img src="lib/images/image6.png" alt="" class="fourth-image2">
    </div>

    <div class="fith-info">
        
        <div class="fith-info-text1"><p>📌Правила клуба: <br></p></div>
        
        <div class="fith-info-text"><p>            
            1. Обязательное участие в клубной Лиге <br>
            2. Отыгрывать все билеты <br>
            3. Набрать более 36 трофеев за неделю Лиги клубов <br>
            4. Играть строго в команде <br>
            5. Не оскорблять других игроков</p> </div>
        <div class="fith-info-text2"><p>За нарушение правил без уважительной причины <br> предусмотрено исключение из клуба.</p></div>
    </div>

    <div class="sixth-info">
        
        <div class="sixth2-info-text">  
            Руководство клуба    
        </div>
        <div class="pop">
            <div class="pop2">
                <div class="sixth-info-text">
                    Rerary — президент <br>
                    X-Boss — вице-президент <br>
                    Edgar — вице-президент   <br>         
                </div>
            </div>
            
            <div class="sixth-image"><img src="lib/images/image29.png" alt=""></div>
        </div>
        
        
    </div>

    <div class="seventh-info">
        <div class="seventh-info-text">
            Клуб создан 01.03.2022. Основатель - Rerary
            Лигу Мастера апнули 1 ноября 2022 года.
            Актуальную лигу на текущий момент уточняйте в дс. Удачи!        
        </div>
    </div>

</body>
</html>